header{
    background-color: white;
}
.logo{
    height:80px;
    position: relative;
    margin-top: 10px;
    margin-left: 100px;
}
main{
    background-color: #b7b5ff;
}
.navegador{
    position:absolute;
    left: 350px;
    top: 60px;
}
a{
    color: #b7b5ff;
    margin: 20px;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    text-decoration: none;
}
.portada{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.imgPortada{
    margin: 75px;
}
img{
    max-width: 600px;
    max-height: 500px;
}
.presentacion{
    display: grid;
    grid-template-columns:600px;
    justify-content: center;
    background-color: #b7b5ff;
    text-align: center;
}
.instagram{
    display: grid;
    grid-template-columns:350px ;
    grid-template-rows: 600px;  
    justify-content: center;
    padding: 10px;
}
.tarjeta-de-contacto{
position: relative;
margin-left: 420px;
max-width: 500px;
max-height: 300px ;
display: grid;
grid-template-columns: 1fr, 1fr;
grid-template-rows:auto 1fr;
grid-template-areas: 
"imagen-costi contacto";
border: black;
border-style:solid;
}
.contenido{
display: flex;
flex-direction: column;
justify-content: space-around;
}
.imgCosti{
    grid-area: "imagen-costi";
    width: 250px;
    height: 300px;
}
.imgInstagram{
    grid-area: contacto;
    width: 50px;
    height: 50px;
}
